<table>    
 <tbody>
   
  <th class="data-space">Grocery</th>
    <tr *ngFor="let groceryThings of groceries">        
        <td><a (click)="onClickingGroceryItems()">{{groceryThings.name}}</a></td>
    </tr>
    <th class="data-space">Electronics</th>
    <tr *ngFor="let electronicItems of electronics">      
      <td><a (click)="onClickingGroceryItems()">{{electronicItems.name}}</a></td>
  </tr>
  <th class="data-space">Apparels</th>
  <tr *ngFor="let apparelItems of apparels">   
    <td><a (click)="onClickingGroceryItems()">{{apparelItems.name}}</a></td>
  </tr>
  
 </tbody>
</table>