<table>    
 <tbody>
   
  <th class="data-space">Grocery</th>
    <tr  *ngFor="let groceryThings of groceries">        
        <td><a #item (click)="onClickingGroceryItems(item.innerText)">{{groceryThings.name}}</a></td>
    </tr>
    <th class="data-space">Electronics</th>
    <tr *ngFor="let electronicItems of electronics">      
      <td><a #item (click)="onClickingGroceryItems(item.innerText)">{{electronicItems.name}}</a></td>
  </tr>
  <th class="data-space">Apparels</th>
  <tr *ngFor="let apparelItems of apparels">   
    <td><a  #item (click)="onClickingGroceryItems(item.innerText)">{{apparelItems.name}}</a></td>
  </tr>
  
 </tbody>
</table>